@{
    ViewBag.Title = "login";
    
}
@model adminlte.Models.User

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-3">
                <h2 style="margin-top:70px;">Login</h2>
@if (ViewBag.msg != null) {

    <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        @if(ViewBag.msg == "incorrect_info"){
            <h4>
                Incorrect Email or password.
            </h4>
                               }
        else if (ViewBag.msg == "not_logged_in")
        {
             <h4>
               You must logged in to perform this action.
            </h4>
        }
        else if (ViewBag.msg == "disabled")
        {
            <h4>
                Your account has been disabled.
            </h4>
        }
    </div>
}
@using (Html.BeginForm("/check_login", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.email)
        @Html.TextBoxFor(m => m.email, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password)
        @Html.PasswordFor(m => m.password, new { @class = "form-control",required="required" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    @*<div class="form-group">
            @Html.LabelFor(m => m.password)
            @Html.PasswordFor(m => m.password)
        </div>*@
}
                @*<form role="form" action="~/Home/check_login">

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    
                    <a href="~/Home/forgetPassword">Forget password</a><br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@
            </div>
        </div>
    </div>
</div>
